form {
    background-color: lightcyan;
    border: 1px solid grey;
    border-radius: 0.5em;
    min-width: 80px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  label {
    font-size: small;
    color: #004F92;
  }

  mat-select {
    background-color: white;
  }

  /deep/.mat-select-value{
    color: black;
 }

 
  input {
    background-color: white;
  }

  button {
    border: 1px solid #1159a1;
    background-color: #1159a1;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2em;
  }
  
  button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
  
  